%h1.formlogo Company Forms

= link_to "Add subject", new_post_subject_path
%a ---
= link_to "home", root_path
%hr/
- @subject.each do |s|
  %ol
    %strong
      = link_to s.subject, post_subject_posts_path(s)
    %a -
    = link_to "options", post_subject_path(s), class: "subjectopt"
    %br/
    = s.disc
    %br/
    %br/