%h1 
  = "All Posts Marked as #{@tag.name}"
= link_to "Back", tags_path
%a ---
= link_to "Home", root_path
%hr/

- @tag.posts.each do |tag|
  = link_to tag.title, post_subject_post_path(@subject, @post)
  %br/
  %br/
  