%h1
  ="Edit #{@post.title}"
%br/
=form_for [@subject, @post] do |f|
  = f.label :title
  %br/
  = f.text_field :title
  %br/
  %br/
  = f.label :body
  %br/
  = f.text_area :body
  %br/
  %br/
  =f.submit "Edit"
%hr/
%br/
= link_to "Back", post_subject_post_path(@subject, @post)